body {
  background-color: rgb(218, 174, 118);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
